<div class="d-flex justify-content-center mb-5">
  <div *ngIf="weatherData && searchTerm" class="weather-card text-center shadow-lg  ">
      <h3 class="fw-bold">{{ weatherData.name }}, {{ weatherData.sys.country }}</h3>
      <div>
        <p class="text-capitalize"><i class="fas fa-calendar-alt mx-2"></i>{{ localDate }} <i class="fas fa-clock mx-2"></i>{{ localTime }}</p>
      </div>
      <img [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'" class="weather-icon mb-2" />
      <h1>{{ weatherData.main.temp }}°C</h1>
      <p class="text-capitalize">{{ weatherData.weather[0].description }}</p>

      <div class="d-flex justify-content-around mt-4">
        <div>
          <i class="fas fa-tint"></i>
          <p>Humidity</p>
          <p>{{ weatherData.main.humidity }}%</p>
        </div>
        <div>
          <i class="fas fa-wind"></i>
          <p>Wind</p>
          <p>{{ weatherData.wind.speed }} m/s</p>
        </div>
      </div>
</div>
</div>


<div *ngIf="weatherData && searchTerm " class="w-100">
  <section class="moreInfo container text-white" >
    <div class="row">
      <div class="col-md-4 ">
        <h4 >Temperature</h4>
        <div class="d-flex ">
          <div class="me-4">
            <p >  Feels like: </p>
            <p >{{ weatherData.main.feels_like }}°C</p>
          </div>
          <div class="me-4">
            <p ><i class="fas fa-temperature-low"></i>   Min: </p>
            <p >{{ weatherData.main.temp_min }}°C</p>
          </div>
          <div class="me-4">
            <p > <i class="fas fa-temperature-high"></i> Max: </p>
            <p >{{ weatherData.main.temp_max }}°C</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
            <h4 >Pressure</h4>
          <div class="d-flex ">
            <div class="me-4" >
              <p > <i class="fas fa-gauge-high"></i> Pressure:</p>
              <p >{{ weatherData.main.pressure }} hPa</p>
            </div>
            <div class="me-4">
              <p > <i class="fas fa-gauge-low"></i> Sea level:</p>
              <p *ngIf="weatherData.main.sea_level">{{ weatherData.main.sea_level }} hPa</p>
            </div>
            <div class="me-4">
              <p ><i class="fas fa-gauge-low"></i> Ground level:</p>
              <p *ngIf="weatherData.main.grnd_level">{{ weatherData.main.grnd_level }} hPa</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
            <h4 >Sunrise & Sunset</h4>
            <div class="d-flex ">
              <div class="me-4">
                <p > <i class="fas fa-sun"></i> Sunrise:</p>
                <p >{{ sunriseTime }}</p>
              </div>
              <div class="me-4">
                <p > <i class="fas fa-moon"></i> Sunset:</p>
                <p >{{ sunsetTime }}</p>
              </div>
            </div>

      </div>
    </div>
  </section>
</div>
