<div class="container d-flex flex-column align-items-center justify-content-center">
  <h1 class="text-white mb-4 fw-bold">🌤️ Weather App</h1>

  <form (ngSubmit)="onSearch()" class="search-box d-flex mb-4 w-100 justify-content-center">
    <input [(ngModel)]="searchTerm" name="searchTerm" class="form-control form-control-lg w-50 me-2" placeholder="Enter city name" type="text" />
    <button type="submit" class="btn btn-lg btn-light shadow">Search</button>
  </form>

  <div *ngIf="errorMessage && searchTerm"  class="alert alert-danger text-center w-25 mt-2">
  <i class="fas fa-exclamation-triangle me-2"></i> {{ errorMessage }}
  </div>

  <div *ngIf="weatherData" class="weather-card text-center shadow-lg">
    <h3 class="fw-bold">{{ weatherData.name }}, {{ weatherData.sys.country }}</h3>
    <img [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'" class="weather-icon mb-2" />
    <h1>{{ weatherData.main.temp }}°C</h1>
    <p class="text-capitalize">{{ weatherData.weather[0].description }}</p>

    <div class="d-flex justify-content-around mt-4">
      <div>
        <i class="fas fa-tint"></i>
        <p>Humidity</p>
        <p>{{ weatherData.main.humidity }}%</p>
      </div>
      <div>
        <i class="fas fa-wind"></i>
        <p>Wind</p>
        <p>{{ weatherData.wind.speed }} m/s</p>
      </div>
    </div>
  </div>
</div>
